body {
	font-family: 'Open Sans', sans-serif;
}








#question1 {
	margin-left: 10px;
	margin-right: 10px;
	background: #ECEFF1;
	padding: 10px 10px 10px 10px;
	width: 975px;
	border-radius: 20px;
	float: left;
}


#buttonQ1 {
	background: green;
	border: black;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 16px;
	transition-duration: 0.25s;
	margin-top: 15px;
}


#buttonQ1:hover {
	background: white;
	border: 1px solid green;
	color: black;
	cursor: pointer;
}


#after_submitQ1 {
	visibility: hidden;
	padding: 10px 10px 10px 10px;
	width: 425px;
	heigth: 900px;
	border-radius: 20px;
	float: left;
	margin-left: 20px;
	font-size: 20px;
}








#question2 {
	margin-left: 10px;
	margin-right: 10px;
	background: #ECEFF1;
	padding: 10px 10px 10px 10px;
	width: 975px;
	border-radius: 20px;
	float: left;
}


#buttonQ2 {
	background: green;
	border: black;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 16px;
	transition-duration: 0.25s;
	margin-top: 15px;
}


#buttonQ2:hover {
	background: white;
	border: 1px solid green;
	color: black;
	cursor: pointer;
}


#after_submitQ2 {
	visibility: hidden;
	padding: 10px 10px 10px 10px;
	width: 425px;
	heigth: 900px;
	border-radius: 20px;
	float: left;
	margin-left: 20px;
	font-size: 20px;
}








#question3 {
	margin-left: 10px;
	margin-right: 10px;
	background: #ECEFF1;
	padding: 10px 10px 10px 10px;
	width: 975px;
	border-radius: 20px;
	float: left;
}


#buttonQ3 {
	background: green;
	border: black;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 16px;
	transition-duration: 0.25s;
	margin-top: 15px;
}


#buttonQ3:hover {
	background: white;
	border: 1px solid green;
	color: black;
	cursor: pointer;
}


#after_submitQ3 {
	visibility: hidden;
	padding: 10px 10px 10px 10px;
	width: 425px;
	heigth: 900px;
	border-radius: 20px;
	float: left;
	margin-left: 20px;
	font-size: 20px;
}








#question4 {
	margin-left: 10px;
	margin-right: 10px;
	background: #ECEFF1;
	padding: 10px 10px 10px 10px;
	width: 975px;
	border-radius: 20px;
	float: left;
}


#buttonQ4 {
	background: green;
	border: black;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 16px;
	transition-duration: 0.25s;
	margin-top: 15px;
}


#buttonQ4:hover {
	background: white;
	border: 1px solid green;
	color: black;
	cursor: pointer;
}


#after_submitQ4 {
	visibility: hidden;
	padding: 10px 10px 10px 10px;
	width: 425px;
	heigth: 900px;
	border-radius: 20px;
	float: left;
	margin-left: 20px;
	font-size: 20px;
}








#question5 {
	margin-left: 10px;
	margin-right: 10px;
	background: #ECEFF1;
	padding: 10px 10px 10px 10px;
	width: 975px;
	border-radius: 20px;
	float: left;
}


#buttonQ5 {
	background: green;
	border: black;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 16px;
	transition-duration: 0.25s;
	margin-top: 15px;
}


#buttonQ5:hover {
	background: white;
	border: 1px solid green;
	color: black;
	cursor: pointer;
}


#after_submitQ5 {
	visibility: hidden;
	padding: 10px 10px 10px 10px;
	width: 425px;
	heigth: 900px;
	border-radius: 20px;
	float: left;
	margin-left: 20px;
	font-size: 20px;
}








#question6 {
	margin-left: 10px;
	margin-right: 10px;
	background: #ECEFF1;
	padding: 10px 10px 10px 10px;
	width: 975px;
	border-radius: 20px;
	float: left;
}


#buttonQ6 {
	background: green;
	border: black;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 16px;
	transition-duration: 0.25s;
	margin-top: 15px;
}


#buttonQ6:hover {
	background: white;
	border: 1px solid green;
	color: black;
	cursor: pointer;
}


#after_submitQ6 {
	visibility: hidden;
	padding: 10px 10px 10px 10px;
	width: 425px;
	heigth: 900px;
	border-radius: 20px;
	float: left;
	margin-left: 20px;
	font-size: 20px;
}


#drop1, #drop2, #drop3, #drop4, #drop5, #drop6, #drop7, #drop8, #drop9 {
  float: left;
  width: 600px;
  height: 100px;
  margin-left: 10px;
  padding: 10px;
  border: solid black;
}


#drag1, #drag2, #drag3, #drag4, #drag5, #drag6, #drag7, #drag8, #drag9, #drag10, #drag11, #drag12, #drag13, #drag14, #drag15, #drag16, #drag17, #drag18, #drag19, #drag20, #drag21, #drag22, #drag23, #drag24, #drag25, #drag26, #drag27, #drag28, #drag29, #drag30, #drag31, #drag32, #drag33, #drag34, #drag35 {
  border: solid black;
  border-radius: 20px;
  background-color: white;
}









